/**********************************************************************************************************************
 * The contents of this file are subject to the SugarCRM Public License Version 1.1.3 ("License"); You may not use this
 * file except in compliance with the License. You may obtain a copy of the License at http://www.sugarcrm.com/SPL
 * Software distributed under the License is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either
 * express or implied.  See the License for the specific language governing rights and limitations under the License.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *    (i) the "Powered by SugarCRM" logo and
 *    (ii) the SugarCRM copyright notice
 *    (iii) the SplendidCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for requirements.
 *
 * The Original Code is: SplendidCRM Open Source
 * The Initial Developer of the Original Code is SplendidCRM Software, Inc.
 * Portions created by SplendidCRM Software are Copyright (C) 2005 SplendidCRM Software, Inc. All Rights Reserved.
 * Contributor(s): ______________________________________.
 *********************************************************************************************************************/

/* 01/02/2006 Paul.  IE is unstable and freezes often on MOBILE3.  Disable behaviors to see if they are the source of the problem. */
/*
img
{
	behavior: url(null);
}
*/
.checkbox INPUT, .radio INPUT
{
	border:0px;
	background-color: transparent;
	margin: 0px;
	vertical-align: bottom;
}

ul.subMenu li a:hover
{
	background: #f8f8f8;
}

.evenListRowS1
{
	border-bottom: solid 1px #f6f6f6;
}

.oddListRowS1
{
	border-bottom: solid 1px #f6f6f6;
	background: #f6f6f6;
}

.welcome, .myArea
{
	color: #444444;
	background-color: #FFD14E;
	border-right-color: #FFD14E;
	border-bottom-color: #FFD14E;
}

ul.tablist li a
{
	background-image: none;
}

/* 12/01/2007 Paul.  Something in Sugar's code is hiding the calendar. */
.Calendar
{
	display: inline;
}

.button-panel
{
	margin-bottom: 2px;
}

table.tabFrame
{
	width: 100%;
	border: none;
	border-collapse: collapse;
}
table.tabEditView
{
	width: 100%;
	border: none;
	border-collapse: collapse;
}
table.tabEditView td
{
	border: inherit;
}
table.tabEditView th
{
	margin-top: 0;
	padding-left: 0;
	padding-top: 0;
	text-align: left;
}
table.tabDetailView
{
	width: 100%;
	border: none;
	border-collapse: collapse;
}
table.tabSearchView
{
	width: 100%;
	border: none;
	border-collapse: collapse;
}
table.tabDetailView2
{
	width: 100%;
	border-collapse: collapse;
}
